#root {
  width: 100%;
  height: 100vh;
  background: rgb(66, 88, 208);
  background: linear-gradient(
    45deg,
    rgba(66, 88, 208, 1) 0%,
    rgba(201, 80, 193, 1) 100%
  );
}
.model {
  background-color: aliceblue;
  width: 70%;
  height: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.model__left {
  background-color: rgba(190, 174, 174, 0.308);
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}
.model__img {
  filter: unset;
  z-index: 3;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 10px 10px grey;
}
.model__img >a{
  height: 100%;
  width: 100%;
}
.model__img  img {
  z-index: 3;
  object-fit: cover;
  height: 100%;
  width: 100%;
  animation: spin 10s linear infinite;
  
}
.model__right {
  padding: 60px 10px 60px 10px;
  float: right;
  width: 50%;
  height: 100%;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
label {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 15%;
}
/* label > span {
  position: absolute;
  padding-left: calc(10% + 10px);
  top: 50%;
  right: calc(10% + 30px );
  transform: translateY(-50%);
  z-index: 5;
} */
label:nth-child(2) > .noti::before,
label:nth-child(3) > .noti::before,
label:nth-child(4) > .noti::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f0e0";
  font-size: 30px;
  position: absolute;
  padding-left: 15px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

small {
  font-size: small;
  padding-left: 50px;
  position: absolute;
  transform: translateY(-100%);
}
label:nth-child(2) > .noti::before {
  content: "\f0e0";
}
label:nth-child(3) > .noti::before {
  content: "\f023";
}

label:nth-child(4) > .noti::before {
  content: "\f3c1";
}
.noti {
  position: absolute;
  width: 80%;
  /* background-color: #57b847; */

  top: 0;
  left: 10%;
  right: 0;
  bottom: 0;
}
.noti .tick {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.noti .tick i {
  /* float: right; */
  font-size: 30px;
}
input {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  border: 2px solid rgb(26, 39, 73);
  font-size: 16px;
  font-weight: 600;
  outline: none;
}
input:focus {
  border-color: orangered;
  box-shadow: 0px 0px 3px orangered;
}
input[type="text"],
input[type="password"] {
  padding-left: 50px;
  transition: all .3s ease;
}
input[type="submit"] {
  cursor: pointer;
  background-color: #57b847;
  border: unset;
  color: white;
  font-size: 20px;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
