#root {
  width: 100%;
  height: 100vh;
  background: rgb(66, 88, 208);
  background: linear-gradient(
    45deg,
    rgba(66, 88, 208, 1) 0%,
    rgba(201, 80, 193, 1) 100%
  );
}
.model {
  background-color: aliceblue;
  width: 70%;
  height: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.model__left {
  background-color: aqua;
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}
.model__img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 10px 10px grey;
}
.model__img > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  animation:spin 10s linear infinite;
}
.model__right {
  padding: 10px 20px 20px 10px;
  float: right;
  width: 50%;
  height: 100%;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
label {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 15%;
  text-align: center;
}
/* label > span {
  position: absolute;
  padding-left: calc(10% + 10px);
  top: 50%;
  right: calc(10% + 30px );
  transform: translateY(-50%);
  z-index: 5;
} */

label:nth-child(2) > span::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f0e0";
  font-size: 16px;
  position: absolute;
  padding-left: calc(10% + 10px);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
label:nth-child(3) > span::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f023";
  font-size: 16px;
  position: absolute;
  padding-left: calc(10% + 10px);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

label:nth-child(4) > span::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f3c1";
  font-size: 16px;
  position: absolute;
  padding-left: calc(10% + 10px);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
input {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  border: 2px solid rgb(26, 39, 73);
  font-size: 16px;
  font-weight: 600;
  outline: none;
}
input:focus {
  border-color: orangered;
  box-shadow: 0px 0px 3px orangered;
}
input[type="text"],
input[type="password"] {
  padding: 30px;
}
input[type="submit"] {
  cursor: pointer;
  background-color: #57b847;
  border: unset;
  color: white;
  font-size: 20px;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
